.modal-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.modal-text-container{
    flex: 0.9;
    display: flex;
    flex-direction: column;
}
.modal-btn-container{
    flex: 0.1;
    display: flex;
    justify-content: flex-end;
}
#modal-save-btn{
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    background-color: #5341e9;
    color: #fff;
    border-width: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer; 
    margin: 5px;
}
#modal-close-btn{
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #5341e9;
    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer; 
    margin: 5px;
    color: #5341e9;
}
#modal-title{
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #e9eef6;
    border-width: 0px;
    flex: 0.1;
}
#modal-title:focus {
    outline: none; 
}
#modal-text{
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-width: 0px;
    margin-top: 10px;
    height: auto;
    flex: 0.9;
    resize: none;
}
#modal-text:focus {
    outline: none; 
}
.error {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}
@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}
